<header style="border-top: 1px solid #333;border-bottom: 1px solid #333; margin-bottom:10px">
  <h3>Update Product</h3>
</header>
<%= form_for @product, :html => {:class => 'form-horizontal'} do |f| %>
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <%= f.text_area :description, :rows=>3 %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="price">Price</label>
    <div class="controls">
      <%= f.number_field :price %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="weight">Weight</label>
    <div class="controls">
      <%= f.text_field :weight %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="parent_category">Parent Category</label>
    <div class="controls">
      <%= f.select :category_id, @categories, { :include_blank => true } %>
    </div>
  </div>
  <%=f.submit :update%> <%=link_to "Back", products_path %>
<%end%>
