<header style="border-top: 1px solid #333;border-bottom: 1px solid #333;margin-bottom:10px">
  <h3>Listing Product</h3>
</header>
<section>
  <%@products.each do|product|%>
  <div class="product-block" id=<%=product.id%> style="border: 1px solid;padding: 3px;width: 200px;float: left;">
    <span>Name: <%=product.name%></span><br />
    <span>Price: <%=product.price%></span><br />
    <span>
      <%=link_to "See More", product_path(product.id)%> |
      <% if product.user_id == session[:user_id] || User.find(session[:user_id]).email=="admin@admin.com" %>
        <%=link_to "Edit", edit_product_path(product.id)%> | <%=link_to "delete", product_path(product.id), :method=>"delete", :confirm=> "Are you sure?"%>
      <%end%>
    </span>
  </div>
  <%end%>
</section>
