<header>
  <h3>Detail Product</h3>
</header>
<section>
  <dl>
    <dt>Name</dt>
    <dd><%=@product.name%></dd>
    <dt>Description</dt>
    <dd><%=@product.description%></dd>
    <dt>Price</dt>
    <dd><%=@product.price%></dd>
    <dt>Weight</dt>
    <dd><%=@product.weight%></dd>
  </dl>
</section>

<%=link_to "Back to products list", products_path%>
