<%if flash[:notif]%>
  <p><%=flash[:notif]%></p>
<%end%>
<%if flash[:error]%>
  <p><%=flash[:error]%></p>
<%end%>

<table>
  <tr>
    <td>
      <%=render :partial=>"shared/product", :locals =>{:products =>@products}%>
    </td>
  </tr>
  <tr>
    <td>
      <%=render :partial=>"shared/article", :locals =>{:articles =>@articles}%>
    </td>
  </tr>

<table>
