<%if !session[:user_id].nil?%>
  <section class="category-section" style="padding: 10px;border: 1px solid #999;border-radius: 4px;margin:15px;">
    <p><h3>List Category</h3><p>
    <ul class="nav">
      <%@parent_categories=Category.where(["parent_id IS NULL"])%>
      <%@parent_categories.each do |parent_category|%>
        <li><%=link_to parent_category.name, find_product_by_category_path(parent_category.id) %></li>
        <ul>
          <%@categories=Category.where("parent_id = ?", parent_category.id)%>
          <%@categories.each do |category|%>
            <li><%=link_to category.name, find_product_by_category_path(category.id) %></li>
          <%end%>
        </ul>
      <%end%>
    </ul>
  </section>
<%end%>
