<section class="login-section" style="padding: 10px;border: 1px solid #999;border-radius: 4px;margin:15px;">
  <%if session[:user_id].nil?%>
    <%= form_tag sessions_path do %> 
      <p> 
        <%= label_tag :email %><br /> 
        <%= text_field_tag :email, params[:email], :class => "input-medium" %> 
      </p> 
      <p> 
        <%= label_tag :password %><br /> 
        <%= password_field_tag :password, nil, :class => "input-medium" %> 
      </p> 
      <p class="button"><%= submit_tag "login" %> <span><%=link_to "Sign Up", users_new_path%></span></p>
    <% end %>
  <%else%>
    <ul class="nav nav-tabs nav-stacked">
      <li><%=link_to "Edit Profile", edit_user_path(session[:user_id])%></li>
      <li><%=link_to "Sell a Product", new_product_path%></li>
      <li><%=link_to "Shared an Article", new_article_path%></li>
      <li><%=link_to "Log Out", sign_out_path%></li>
    </ul>
  <%end%>
</section>
