<!DOCTYPE html>
<html>
<head>
  <title>MyStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header style='width:100%;'>
    <h1 style='border-bottom: 1px solid #000; text-align: center;'>Welcome to my store</h1>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class='nav'>
          <li><%=link_to "Home", root_path%></li>
          <li><%=link_to "Products", products_path%></li>
          <li><%=link_to "Article", articles_path%></li>
          <li><%=link_to "Category", admin_categories_path%></li>
        </ul>
      </div>
    </div>
  </header>  
  
  <div class="row-fluid">
    <div class="span4">
      <%=render "shared/login"%>
      <%=render "shared/category"%>
    </div>
    <div class="span8">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
