<header style="border-top: 1px solid #333;border-bottom: 1px solid #333;margin-bottom:10px">
  <h3>Lates Article</h3>
</header>
<section>
  <%@articles.each do|article|%>
  <div class="article-block" id=<%=article.id%> style="border-bottom: 1px solid;padding: 3px;">
    <span>Title: <%=article.title%></span><br />
    <span>Body: <%=article.body%></span><br />
    <span>
      <%=link_to "See More", article_path(article.id)%>
    </span>
  </div>
  <%end%>
</section>
