<header style="border-top: 1px solid #333;border-bottom: 1px solid #333; margin-bottom:10px">
  <h3>New Article</h3>
</header>
<%= form_for @article, :html => {:class => 'form-horizontal'} do |f| %>
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <%= f.text_area :body, :rows=>3 %>
    </div>
  </div>
  <%=f.submit :create%> <%=link_to "Back", articles_path %>
<%end%>
