<section class="article-container">
  <p>
    <h3><%=@article.title%></h3>
  </p>
  <p>
    <%=@article.body%>
  </p>
</section>

<label>Comments:</label>
<div id="comments" style="margin-bottom:15px">
  <table class="table table-striped">
    <%if @comments.length != 0%>
      <%=render :partial=>"shared/comments", :locals => {:comments => @comments}%>
    <%else%>
      <tr>
        <td>
          No Comments Yet
        </td>
      </tr>
    <% end %>
  </table>
</div>


<%=form_for @comment, :url => comments_path, :remote => true, :html => {:class => "form"} do |f|%>
  <div class="control-group">
    <div class="controls">
      <%=f.text_area :comment, :rows=>3 %>
      <%= f.hidden_field :article_id, :value => @article.id %>
      <%= f.hidden_field :user_id, :value => session[:user_id] %>
    </div>
  </div>
  <%=f.submit :create%>
<%end%>
