<% if flash[:error] %>
   <p class="flash-error"><%= flash[:error] %></p>
<% end %>
<% if flash[:notice] %>
   <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<table>
   <thead>
       <tr>
          <th>No. </th>
          <th>Title</th>
          <th>Body</th>
          <th>Rating</th>
          <th></th>
          <th></th>
       </tr>
   </thead>
   <tbody>
   <%i=1%>
   <% if @articles != nil %>
      <%@articles.each do |article|%> 
          <tr>
             <td><%=i%></td>
             <td>
                <%=link_to article.title, {:controller => "articles", :action => "show", :id => article.id }%>
             </td>
             <td><%=article.body%></td>
             <td><%=article.rating%></td>
             <td>
                <%=link_to 'Edit', {:controller => "articles", :action => "edit", :id => article.id }%> 
             </td> 
             <td>
                <%=link_to 'Delete', article_path(article.id), :confirm => "Are you sure?", :method=> :delete %> 
             </td> 
          </tr>
      <%i+=1%>
      <%end%>
   <%end%>
   </tbody>
</table>

<%=link_to 'Create New', {:controller => "articles", :action => "new" }%> 

