<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= raw(welcome_text) %>
<%= yield %>

</body>
</html>
