<% if @article.errors.any? %>
   <div id="errorExplanation">
      <h2>
<%= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:
      </h2>
      <ul>
         <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @article do |f| %>
   <table>
      <tr>
         <td>Title: </td>
         <td><%= f.text_field :title %></td>
      </tr>
      <tr>
         <td>Content: </td>
         <td><%= f.text_area :body %></td>
      </tr>
      <tr>
         <td>Rating: </td>
         <td><%= f.number_field :rating %></td>
      </tr>
   </table>
   <%=f.submit :create%>
<% end %>
