<header>
  <p style="border-top: 1px solid #FAFAFA">
    <h3>Listing Categories</h3>
  </p>
  <p style="border-top: 1px solid #FAFAFA">
    <%=link_to "Create New", new_admin_category_path%>
  </p>
</header>
<table width="100%">
  <thead>
    <tr>
      <th width="25%">Name</th>
      <th width="25%">Parent Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%@categories.each do |category|%>
      <tr>
        <td><%=category.name%></td>
        <%if category.parent_id != nil %>
          <%parent_category=Category.find(category.parent_id).name%>
          <td><%=parent_category%></td>
        <%else%>
          <td></td>
        <%end%>
        <td><%=link_to "Show", admin_category_path(category.id)%> | <%=link_to "Edit", edit_admin_category_path(category.id)%> | <%=link_to 'Destroy', admin_category_path(category.id), :confirm => "Are you sure?", :method=> :delete %>  </td>
      <tr>
    <%end%>
  </tbody>
</table>
