<p>
  <h3>Create New Category</h3>
</p>
<%= form_for [:admin,@category], :html => {:class => 'form-horizontal'} do |f| %>
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="parent_category">Parent Category</label>
    <div class="controls">
      <%= f.select :parent_id, @parent_categories, { :include_blank => true } %>
    </div>
  </div>
  <%=f.submit :create%>
<%end%>
