<header style="border-top: 1px solid #333;border-bottom: 1px solid #333;">
  <h3>Update User Profile</h3>
</header>
<section>
  <%=form_for @user, :html => {:class => 'form-horizontal'} do |f|%>
    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <%=f.text_field :email%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <%=f.text_field :name, :class => "input-medium"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="address">Address</label>
      <div class="controls">
        <%=f.text_field :address%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="phone_number">Phone Number</label>
      <div class="controls">
        <%=f.text_field :phone_number%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="birthday">Birthday</label>
      <div class="controls">
        <%=f.date_select :birthday, :class => "input-medium"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="birthday">Gender</label>
      <div class="controls">
        <label class="checkbox inline">
          <%=f.radio_button :gender, true%> Male
        </label>
        <label class="checkbox inline">
          <%=f.radio_button :gender, false%> Female
        </label>
      </div>
    </div>
    <%=f.submit :Update%>
  <%end%>
</section>
