<h1>Sign Up</h1>
<div class="flash">
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="flash-error"><%= flash[:error] %></p>
  <% end %>
</div>

<%= form_for @user do |f| %> 
  <% if @user.errors.any? %> 
    <div class="error_messages"> 
      <h2>Form is invalid</h2>
      <ul> 
        <% for message in @user.errors.full_messages %> 
          <li><%= message %></li>
        <% end %> 
      </ul> 
    </div> 
  <% end %> 
  <p> 
    <%= f.label :email %><br /> 
    <%= f.text_field :email %> 
  </p> 
  <p> 
    <%= f.label :password %><br /> 
    <%= f.password_field :password %> 
  </p> 
  <p> 
    <%= f.label :password_confirmation %><br /> 
    <%= f.password_field :password_confirmation %> 
  </p>
  <%= recaptcha_tags %><br />
  <p class="button"><%= f.submit %></p> 
<% end %> 

