<header>
  <p style="border-top: 1px solid #FAFAFA; border-bottom: 1px solid #FAFAFA">
    <h3>User Profile</h3>
  </p>
</header>

<section>
  <dl class="dl-horizontal">
    <dt>Login:</dt>
    <dd><%=@user.email%></dd>
    <dt>Name:</dt>
    <dd><%=@user.name%></dd>
    <dt>Email:</dt>
    <dd><%=@user.email%></dd>
    <dt>Address:</dt>
    <dd><%=@user.address%></dd>
    <dt>Phone Number:</dt>
    <dd><%=@user.phone_number%></dd>
    <dt>Birthday</dt>
    <dd><%=@user.birthday%></dd>
    <dt>Gender</dt>
    <dd>
      <%if @user.gender=1 %>
        Male
      <%else%>
        Female
      <%end%></dd>
  </dl>
</section>

